*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
/vangogh
/rpd
/background
/rpd_output
/background_23
/rpd_output_23
/background_flame
/background_hall
/background_rpd
/cb_graphs_2000
/cb_graphs_600
/cb_gt
/cb_output_600
/cornellbox
/flame_steak
/flame_steak_graphs
/minecraft_bar
/minecraft_hall
/minecraft_hall_output
/output_diffuse
